<div class="main">
    <ng-container *ngIf="searchedProducts && searchedProducts.length >0; else:showSearched">
        <div class="row g-3" *ngFor="let prod of searchedProducts" style="margin-top: 10px; border-bottom: 1px solid gray;">
            <div class="col-3">
              <a routerLink="/product-details/{{prod.id}}"> <img src={{prod.url}} alt=""></a>
            </div>
            <div class="col-7" style="margin: auto;">
              <a routerLink="/product-details/{{prod.id}}"> <h1>{{prod.name}}</h1></a>
                <h2>{{prod.price}}</h2>
               <h2>{{prod.description}}</h2>
            </div>
        </div>
    </ng-container>
    <ng-template #showSearched>
        <h1 style="position: fixed;
        top: 64px;
        left: 415px;">Not available searched products!</h1>
    </ng-template>
</div>