form{
    display: flex;
    flex-direction: column;
}
form input,button{
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    height: 40px;
    outline: none;

}
button{
    background-color: blue;
    color: white;
    border: 0px;
}
