<div class="container">
    <h1>UPDATE PRODUCT</h1>
    <p style="color: green; text-align: center;" *ngIf="isUpdated">Updated Successfully</p>
    <form action="" [formGroup]="productForm" (ngSubmit)="updateProduct()">
        <input type="text" placeholder="Enter product name" formControlName="name">
        <input type="text" placeholder="Enter product price" formControlName="price">
        <input type="text" placeholder="Enter product category" formControlName="category">
        <input type="text" placeholder="Enter product color" formControlName="color">
        <textarea name="" placeholder="Enter product description" id="" formControlName="description"></textarea >
        <input type="text" placeholder="Enter product Image URL" formControlName="url">

        <button>UPDATE PRODUCT</button>
    </form>
</div>
